@model eShop.Web.ViewModels.ProductVm
@{
    ViewData["Title"] = "Product List";
}
<h2>@ViewData["Title"]</h2>
<ul>
   
        <li>@Model.ProcuctName</li>
        <li>@Model.ShortDescription</li>
        <li>@Model.ImageUrl</li>
        <li>@Model.Price</li>
        <li><a asp-area="" asp-controller="Order" asp-action="Checkout" asp-route-id="@Model.Id" >Buy</a></li>

   
</ul>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
