@model eShop.Web.ViewModels.ProductListVm
@{
    ViewData["Title"] = "Product List";
}
<h2>@ViewData["Title"]</h2>

    @foreach (var product in Model.ProductList)
    {
        <ul>
            <li>@product.ProcuctName</li>
            <li>@product.ShortDescription</li>
            <li>@product.ImageUrl</li>
            <li>@product.Price</li>
            <li><a asp-area="" asp-controller="Product" asp-action="Information" asp-route-id="@product.Id">View</a></li>
        </ul>
        <br />
    }
    


    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
